*.class

#package file
*.war
*.ear

#kdiff3 ignore
*.orig

#maven ignore
Project/myMail/target/
Project/JapanBusinessProjectSample/business/target/
Project/JapanBusinessProjectSample/out/

#eclipse igonore
.settings/
.project
.classpath

#idea
Project/myMail/.idea/
/Project/myMail/idea/
Project/JapanBusinessProjectSample/.idea/
/Project/JapanBusinessProjectSample/idea/
*.ipr
*.iml
*.iws

#temp log
*.log
*.cache
*.diff
*.patch
*.tmp

#system ignore
.DS_Store
Thumbs_db