/* 全局变量 */
$topic-color: #dce6f2;
$main-border-color: #385d8a;
$thin-border: 1px solid $main-border-color;


@mixin title-box {
  background: $topic-color;
  width: 100%;
  height: 20px;
  line-height: 20px;
  border-bottom: $thin-border;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@mixin flex-row-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}