html {
    height: 100%;
    width: 100%;
    font-size: 62.5%;
}

body {
    color: #666;
    height: 100%;
    width: 100%;
}

p, ul, div {
    margin: 0;
    box-sizing: content-box;
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #666;
}

.clear-fix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}

.clear-fix {
    display: inline-block;
}
